<div data-view="view_laohuangli" data-title="老黄历" data-showfooter="true" data-left-actions="gongli,share" data-right-actions="jinri"
    style="display: none; padding: 0px 0px 50px 0px !important;background-color: #fff;" class="app-view">
    <div class="huangli-bar">
        <span id="huangli-btn-prev" class="yueli-btn-prev"></span>
        <span id="huangli-ymdw">公历2022年3月15日 星期四</span><span style="display: none;" id="huangli-date"></span>
        <span id="huangli-btn-next" class="yueli-btn-next"></span>
    </div>
    <div>
        <div class="huangli-date">二月初十</div>
        <div class="huangli-bazi">癸卯年 乙卯月 辛酉日 丙戌</div>
        <div class="huangli-day-yiji">
            <div class="yueli-day-yiji-yi-grid">
                <div class="yueli-day-yiji-yi">
                    <div class="yueli-day-yiji-yix">宜</div>
                </div>
                <div id="huangli-day-yiji-yi-txt" class="yueli-day-yiji-yi-txt"></div>
            </div>
            <div class="yueli-day-yiji-ji-grid">
                <div class="yueli-day-yiji-ji">
                    <div class="yueli-day-yiji-jix">忌</div>
                </div>
                <div id="huangli-day-yiji-ji-txt" class="yueli-day-yiji-ji-txt"></div>
            </div>
        </div>
        <div class="huangli-jieqi">春分</div>
    </div>
    <div class="huangli-shenwei">
        <div class="huangli-shenwei-cell">
            <div class="huangli-shenwei-cell-top">廿八星宿</div>
            <div id="huangli-xinshu" class="huangli-shenwei-cell-bottom">斗木獬</div>
        </div>
        <div class="huangli-shenwei-cell">
            <div class="huangli-shenwei-cell-top">纳音五行</div>
            <div id="huangli-nayin" class="huangli-shenwei-cell-bottom">山头火</div>
        </div>
        <div class="huangli-shenwei-cell">
            <div id="huangli-zhishen-type" class="huangli-shenwei-cell-top">值神</div>
            <div id="huangli-zhishen" class="huangli-shenwei-cell-bottom">玉堂</div>
        </div>
        <div class="huangli-shenwei-cell">
            <div class="huangli-shenwei-cell-top">十二神</div>
            <div id="huangli-12shen" class="huangli-shenwei-cell-bottom">破日</div>
        </div>
        <div class="huangli-shenwei-cell">
            <div class="huangli-shenwei-cell-top">财神</div>
            <div id="huangli-caishen" class="huangli-shenwei-cell-bottom">正南</div>
        </div>
        <div class="huangli-shenwei-cell">
            <div class="huangli-shenwei-cell-top">喜神</div>
            <div id="huangli-xishen" class="huangli-shenwei-cell-bottom">东南</div>
        </div>
        <div class="huangli-shenwei-cell">
            <div class="huangli-shenwei-cell-top">福神</div>
            <div id="huangli-fushen" class="huangli-shenwei-cell-bottom">东北</div>
        </div>
        <div class="huangli-shenwei-cell">
            <div class="huangli-shenwei-cell-top">阳贵</div>
            <div id="huangli-yanggui" class="huangli-shenwei-cell-bottom">西南</div>
        </div>
    </div>
    <div class="huangli-shenyiji">
        <div class="huangli-shenyiji-cell">
            <div class="huangli-shenyiji-cell-top">今日胎神</div>
            <div id="huangli-taishen" class="huangli-shenyiji-cell-bottom">房床门外 西南</div>
        </div>
        <div class="huangli-shenyiji-cell">
            <div class="huangli-shenyiji-cell-top">吉神宜趋</div>
            <div id="huangli-jishen" class="huangli-shenyiji-cell-bottom">玉宇 除神 呜吠</div>
        </div>
        <div class="huangli-shenyiji-cell3">
            <div class="huangli-shenyiji-cell3-tp">彭祖百忌</div>
            <div id="huangli-pengzhu">癸不词讼<br />理弱敌强<br />西不宴客<br />醉坐颠狂</div>
        </div>
        <div class="huangli-shenyiji-cell">
            <div class="huangli-shenyiji-cell-top">冲煞</div>
            <div id="huangli-congsha" class="huangli-shenyiji-cell-bottom">冲免煞东</div>
        </div>
        <div class="huangli-shenyiji-cell">
            <div class="huangli-shenyiji-cell-top">凶神宜忌</div>
            <div id="huangli-xiongshen" class="huangli-shenyiji-cell-bottom">月破 大耗 天火</div>
        </div>
    </div>
    <div class="huangli-shicheng">
        <div class="huangli-shicheng-jx">时辰<br />宜忌</div>
        <div class="huangli-shicheng-cell" h="0"></div>
        <div class="huangli-shicheng-cell" h="2"></div>
        <div class="huangli-shicheng-cell" h="4"></div>
        <div class="huangli-shicheng-cell" h="6"></div>
        <div class="huangli-shicheng-cell" h="8"></div>
        <div class="huangli-shicheng-cell" h="10"></div>
        <div class="huangli-shicheng-cell" h="12"></div>
        <div class="huangli-shicheng-cell" h="14"></div>
        <div class="huangli-shicheng-cell" h="16"></div>
        <div class="huangli-shicheng-cell" h="18"></div>
        <div class="huangli-shicheng-cell" h="20"></div>
        <div class="huangli-shicheng-cell" h="22"></div>
    </div>
    <div class="huangli-shicheng-hour">甲戌时 19:00-20:59 凶</div>
    <div class="huangli-shicheng-congsha">冲龙 煞北 财神东北 喜神东北 福神正北 阳贵西南</div>
    <div class="huangli-shicheng-yiji">
        <div class="huangli-shicheng-y">宜</div>
        <div class="huangli-shicheng-yi">宜出行、纳财、结婚、添丁、搬家、安葬、会亲友</div>
        <div class="huangli-shicheng-j">忌</div>
        <div class="huangli-shicheng-ji">忌入职</div>
    </div>

</div>
<script src="js/view_ui/view_laohuangli.js?_=1234567890"></script>