<div data-view="view_download" data-title="App下载" data-showfooter="false" data-left-actions="back" data-right-actions=""
    style="display: none; padding: 5px 0px 50px 0px !important" class="app-view">
    <div style="background-color: #eee;">
        <div class="layui-card">
            <div class="layui-card-header"><b>下载App</b></div>
            <div class="layui-card-body">
                <table style="margin:0 auto !important;width: 300px; border: 1px solid #ddd;">
                    <tr style="background-color: #ddd;">
                        <td colspan="1"><b>↘苹果iOS App下载</b></td>
                    </tr>
                    <tr>
                        <td colspan="1" align="left" style="padding: 3px !important; word-break: break-word;">
                            <ul style="line-height: 24px;">
                                <li>1、点击复制以下链接并用Safari浏览器打开网址：<br /><span
                                        style="background-color: #e2e2e2;cursor:pointer" title="点击复制链接"
                                        data-link="https://ji.js.cn"
                                        class="copyweblinkbutton">https://ji.js.cn</span>&nbsp;<img title="点击复制链接"
                                        class="copyweblinkbutton" data-link="https://ji.js.cn" src="images/copy.png" />
                                </li>
                                <li>2、点击浏览器下方的“分享”箭头，如下图</li>
                                <li><img src="images/app_help_1.png"
                                        style="border-radius: 5px;border: 1px #e6e6e6 solid;" width="292"></li>
                                <li>3、在弹出的界面上，点击“添加到主屏幕”，如下图</li>
                                <li><img src="images/app_help_2.png"
                                        style="border-radius: 5px;border: 1px #e6e6e6 solid;" width="292"></li>
                                <li>4、然后再点击“添加”，如下图</li>
                                <li><img src="images/app_help_3.png"
                                        style="border-radius: 5px;border: 1px #e6e6e6 solid;" width="292"></li>
                                <li>5、手机主屏幕上即会出现“吉时雨”的图标，app安装完成。</li>
                                <li><img src="images/app_help_4.png"
                                        style="border-radius: 5px;border: 1px #e6e6e6 solid;" width="292"></li>
                            </ul>
                        </td>
                    </tr>
                </table>

                <div class="app-small-card-gap"></div>

                <table style="margin:0 auto !important;width: 300px; border: 1px solid #ddd">
                    <tr style="background-color: #ddd;">
                        <td colspan="1"><b>↘安卓App下载</b></td>
                    </tr>
                    <tr>
                        <td style="word-break:break-all; padding: 3px !important; word-break: break-word;">
                            <ul style="line-height: 24px;">
                                <li>1、打开百度网盘链接下载文件: <br /><a style="background-color: #e2e2e2;cursor:pointer"
                                        target="_blank"
                                        href="https://pan.baidu.com/s/1do8jUL5biBTUtsB1JCtU_Q?pwd=2gt7">https://pan.baidu.com/s/1do8jUL5biBTUtsB1JCtU_Q?pwd=2gt7</a>&nbsp;<img
                                        title="点击复制链接" class="copyweblinkbutton"
                                        data-link="https://pan.baidu.com/s/1do8jUL5biBTUtsB1JCtU_Q?pwd=2gt7"
                                        src="images/copy.png" /></li>
                                <li>2、建议使用QQ浏览器打开并安装下载的文件。</li>
                            </ul>

                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="js/view_ui/view_download.js?_=1234567890"></script>