<div data-view="view_ziwei" data-title="紫微斗数" data-showfooter="false" data-left-actions="back" data-right-actions=""
    class="app-view">
    <div class="layui-card">
        <div class="layui-card-body">
            <div id="zw-pan-container" class="zw-pan-container">
            </div>
        </div>
    </div>

    <div class="layui-card">
        <div class="layui-card-body">
            <div class="layui-row paipangrid layui-bg-gray zw-grid">
                <div class="layui-col-xs1 layui-col-sm1 layui-col-md1 layui-col-lg1" style="text-align:center;line-height: 18px">
                    大<br />限
                </div>
                <div class="layui-col-xs11 layui-col-sm11 layui-col-md11 layui-col-lg11" style="overflow:auto">
                    <div id="zwDayunTable" class="dayun-grid">
                        <div class="dayun-grid-row">
                            <div class="dayun-grid-cell zw-grid-cell" row="0" col="0" id="zw_dy0"></div>
                            <div class="dayun-grid-cell zw-grid-cell" row="0" col="1" id="zw_dy1"></div>
                            <div class="dayun-grid-cell zw-grid-cell" row="0" col="2" id="zw_dy2"></div>
                            <div class="dayun-grid-cell zw-grid-cell" row="0" col="3" id="zw_dy3"></div>
                            <div class="dayun-grid-cell zw-grid-cell" row="0" col="4" id="zw_dy4"></div>
                            <div class="dayun-grid-cell zw-grid-cell" row="0" col="5" id="zw_dy5"></div>
                            <div class="dayun-grid-cell zw-grid-cell" row="0" col="6" id="zw_dy6"></div>
                            <div class="dayun-grid-cell zw-grid-cell" row="0" col="7" id="zw_dy7"></div>
                            <div class="dayun-grid-cell zw-grid-cell" row="0" col="8" id="zw_dy8"></div>
                            <div class="dayun-grid-cell zw-grid-cell" row="0" col="9" id="zw_dy9"></div>
                            <div class="dayun-grid-cell zw-grid-cell" row="0" col="10" id="zw_dy10"></div>
                            <div class="dayun-grid-cell zw-grid-cell" row="0" col="11" id="zw_dy11"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-row paipangrid layui-bg-gray zw-grid" style="margin-top: -1px;">
                <div class="layui-col-xs1 layui-col-sm1 layui-col-md1 layui-col-lg1" style="text-align:center;line-height: 18px">
                    流<br />年
                </div>
                <div class="layui-col-xs11 layui-col-sm11 layui-col-md11 layui-col-lg11" style="overflow:auto">
                    <div id="zwLiunianTable" class="liunian2-grid">
                        <div class="liunian2-grid-row">
                            <div class="liunian2-grid-cell zw-grid-cell" row="0" col="0" id="zw_ln0"></div>
                            <div class="liunian2-grid-cell zw-grid-cell" row="0" col="1" id="zw_ln1"></div>
                            <div class="liunian2-grid-cell zw-grid-cell" row="0" col="2" id="zw_ln2"></div>
                            <div class="liunian2-grid-cell zw-grid-cell" row="0" col="3" id="zw_ln3"></div>
                            <div class="liunian2-grid-cell zw-grid-cell" row="0" col="4" id="zw_ln4"></div>
                            <div class="liunian2-grid-cell zw-grid-cell" row="0" col="5" id="zw_ln5"></div>
                            <div class="liunian2-grid-cell zw-grid-cell" row="0" col="6" id="zw_ln6"></div>
                            <div class="liunian2-grid-cell zw-grid-cell" row="0" col="7" id="zw_ln7"></div>
                            <div class="liunian2-grid-cell zw-grid-cell" row="0" col="8" id="zw_ln8"></div>
                            <div class="liunian2-grid-cell zw-grid-cell" row="0" col="9" id="zw_ln9"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </div>


</div>
<script src="js/3rd/gojs/go.js?_=1234567890" charset="utf-8"></script>
<script src="js/3rd/iztro/iztro.min.js?_=1234567890" charset="utf-8"></script>
<script src="js/view_ui/view_ziwei.js?_=1234567890"></script>