<div data-view="view_wannianli" data-title="万年历" data-showfooter="true" data-left-actions="huangli,share"
    data-right-actions="today" style="display: none;" class="app-view">
    <div class="yueli-bar">
        <span id="yueli-btn-prev" class="yueli-btn-prev"></span>
        <span id="month_title"></span><span id="month_date" style="display: none;"></span>
        <span id="yueli-btn-next" class="yueli-btn-next"></span>
    </div>
    <div id="yueli-week-bar" class="yueli-week-bar"></div>
    <div id="yueli" class="yueli"></div>
    <div class="yueli-month"></div>
    <div class="yueli-hour-bar">
        <div class="yueli-hour" hour="0">子</div>
        <div class="yueli-hour" hour="2">丑</div>
        <div class="yueli-hour" hour="4">寅</div>
        <div class="yueli-hour" hour="6">卯</div>
        <div class="yueli-hour" hour="8">辰</div>
        <div class="yueli-hour" hour="10">巳</div>
        <div class="yueli-hour" hour="12">午</div>
        <div class="yueli-hour" hour="14">未</div>
        <div class="yueli-hour" hour="16">申</div>
        <div class="yueli-hour" hour="18">酉</div>
        <div class="yueli-hour" hour="20">戌</div>
        <div class="yueli-hour" hour="22">亥</div>
    </div>
    <div>
        <div class="yueli-day-info">
            <div class="yueli-day-info-ymd">
                <div id="yueli-day-info-ymd-gl" class="yueli-day-info-ymd-gl"></div>
                <div id="yueli-day-info-ymd-nl" class="yueli-day-info-ymd-nl"></div>
                <div id="yueli-day-info-ymd-fest" class="yueli-day-info-ymd-fest"></div>
            </div>
            <div id="yueli-day-gz-y" class="yueli-day-info-gz"></div>
            <div id="yueli-day-gz-m" class="yueli-day-info-gz"></div>
            <div id="yueli-day-gz-d" class="yueli-day-info-gz"></div>
            <div id="yueli-day-gz-h" class="yueli-day-info-gz"></div>
        </div>
        <div class="yueli-day-yiji">
            <div class="yueli-day-yiji-yi-grid">
                <div class="yueli-day-yiji-yi">
                    <div class="yueli-day-yiji-yix">宜</div>
                </div>
                <div id="yueli-day-yiji-yi-txt" class="yueli-day-yiji-yi-txt"></div>
            </div>
            <div class="yueli-day-yiji-ji-grid">
                <div class="yueli-day-yiji-ji">
                    <div class="yueli-day-yiji-jix">忌</div>
                </div>
                <div id="yueli-day-yiji-ji-txt" class="yueli-day-yiji-ji-txt"></div>
            </div>
        </div>
        <div id="yueli-day-fest-list" class="yueli-day-fest-list"></div>
    </div>
</div>
<script src="js/view_ui/view_wannianli.js?_=1234567890"></script>