<div data-view="view_da6ren" data-title="大六壬" data-showfooter="false" data-left-actions="back" data-right-actions="listRecord,saveRecord"
    style="display: none;" class="app-view">
    <table style="text-align: center;" class="layui-table" lay-even="" lay-size="sm" lay-skin="nob">
        <colgroup>
            <col width="20%">
            <col width="20%">
            <col width="20%">
            <col width="20%">
            <col width="20%">
            <col>
        </colgroup>
        <tr>
            <td class="qimen-table-header">事项</td>
            <td colspan="4"><input id="da6ren_desc" placeholder="输入预测事项"
                    style="font-size:16px;color: var(--theme-color);text-align: center; width:100%; border-width:0px"
                    maxlength="30"></td>
        </tr>
        <tr>
            <td class="qimen-table-header">时间</td>
            <td colspan="4" id="da6ren_date"></td>
        </tr>
        <tr>
            <td class="qimen-table-header">起课时辰</td>
            <td colspan="4" id="da6ren_method"></td>
        </tr>
        <tr>
            <td class="qimen-table-header">节气</td>
            <td colspan="4" id="da6ren_jieqi"></td>
        </tr>
        <tr class="qimen-table-header">
            <td></td>
            <td>年柱</td>
            <td>月柱</td>
            <td>日柱</td>
            <td>时柱</td>
        </tr>
        <tr>
            <td class="qimen-table-header">四柱</td>
            <td id="da6ren_year" class="qimen-4zhu"></td>
            <td id="da6ren_month" class="qimen-4zhu"></td>
            <td id="da6ren_day" class="qimen-4zhu"></td>
            <td id="da6ren_hour" class="qimen-4zhu"></td>
        </tr>
        <tr class="qimen-table-header">
            <td>月将</td>
            <td>性别</td>
            <td>年命</td>
            <td>行年</td>
            <td>空亡</td>
        </tr>
        <tr>
            <td id="da6ren_yuejiang"></td>
            <td id="da6ren_isman"></td>
            <td id="da6ren_yeargz"></td>
            <td id="da6ren_xingyear"></td>
            <td id="da6ren_kongwang"></td>
        </tr>
        <tr style="height:125px;">
            <td colspan="5">
                <div id="da6renpaipan"
                    style="display: flex !important;justify-content: space-around;margin: 0 10px 0 10px;"></div>
            </td>
        </tr>
        <tr>
            <td colspan="5" style="height: 50px;">
                <div style="width: 100%;height: 100%;overflow: auto;line-height: 50px">
                    <button id="da6ren-prev-btn" class="da6ren-prev-next-btn">上一时辰</button>
                    <div style="width: 15px;display: inline-block;"></div>
                    <button id="da6ren-next-btn" class="da6ren-prev-next-btn">下一时辰</button>
                </div>
            </td>
        </tr>
    </table>
    <div class="qimen-gap"></div>
</div>
<script src="js/view_ui/view_da6ren.js?_=1234567890"></script>