<div data-view="view_xuankong_feixing" data-title="玄空飞星" data-showfooter="false" data-left-actions="back" data-right-actions=""
    style="display: none;" class="app-view">
    <table style="text-align: center;" class="layui-table" lay-even="" lay-size="sm" lay-skin="nob">
        <colgroup>
            <col width="20%">
            <col width="20%">
            <col width="20%">
            <col width="20%">
            <col width="20%">
            <col>
        </colgroup>
        <tr>
            <td class="qimen-table-header">日期</td>
            <td colspan="4" id="feixing_date"></td>
        </tr>
        <tr>
            <td class="qimen-table-header">节气</td>
            <td colspan="2" id="feixing_jieqi"></td>
            <td colspan="2" id="feixing_dayun"></td>
        </tr>
        <tr>
            <td class="qimen-table-header">四柱</td>
            <td id="feixing_year" class="qimen-4zhu"></td>
            <td id="feixing_month" class="qimen-4zhu"></td>
            <td id="feixing_day" class="qimen-4zhu"></td>
            <td id="feixing_hour" class="qimen-4zhu"></td>
        </tr>
        <tr>
            <td colspan="5" class="qimen-bottom-bar feixing-9gong-title qimen-table-header">
                飞星排盘
            </td>
        </tr>
        <tr style="height:320px;">
            <td colspan="5">
                <div>
                    飞星颜色：<span class="feixing-9gong-grid-cell-yy">年</span>、<span
                        class="feixing-9gong-grid-cell-mm">月</span>、<span
                        class="feixing-9gong-grid-cell-dd">日</span>、<span class="feixing-9gong-grid-cell-hh">时</span>
                </div>
                <div id="feixingpaipan"></div>
            </td>
        </tr>
        <tr>
            <td colspan="5" class="qimen-bottom-bar feixing-9gong-title qimen-table-header">
                年飞星
            </td>
        </tr>
        <tr style="height:320px;">
            <td colspan="5">
                <div id="feixingpaipan_year"></div>
            </td>
        </tr>
        <tr>
            <td colspan="5" class="qimen-bottom-bar feixing-9gong-title qimen-table-header">
                月飞星
            </td>
        </tr>
        <tr style="height:320px;">
            <td colspan="5">
                <div id="feixingpaipan_month"></div>
            </td>
        </tr>
        <tr>
            <td colspan="5" class="qimen-bottom-bar feixing-9gong-title qimen-table-header">
                日飞星
            </td>
        </tr>
        <tr style="height:320px;">
            <td colspan="5">
                <div id="feixingpaipan_day"></div>
            </td>
        </tr>
        <tr>
            <td colspan="5" class="qimen-bottom-bar feixing-9gong-title qimen-table-header">
                时飞星
            </td>
        </tr>
        <tr style="height:320px;">
            <td colspan="5">
                <div id="feixingpaipan_hour"></div>
            </td>
        </tr>
    </table>
    <div class="qimen-gap"></div>
</div>
<script src="js/view_ui/view_xuankong_feixing.js?_=1234567890"></script>
