<div data-view="view_mobile_analysis" data-title="手机吉凶预测结果" data-showfooter="false" data-left-actions="back"
    data-right-actions="share" style="display:none;" class="app-view">
    <div id="sj_title" class="sj_title">手机号</div>
    <div id="sj_number" class="sj_number"></div>
    <div class="sj_title">吉凶分析</div>
    <div style="width: 100%; margin: 0 auto;">
        <div class="sj_groups">
            <div class="sj_subgroup" gp="0"></div>
            <div class="sj_subgroup" gp="1"></div>
            <div class="sj_subgroup" gp="2"></div>
            <div class="sj_subgroup" gp="3"></div>
            <div class="sj_subgroup" gp="4"></div>
            <div class="sj_subgroup" gp="5"></div>
            <div class="sj_subgroup" gp="6"></div>
            <div class="sj_subgroup" gp="7"></div>
            <div class="sj_subgroup" gp="8"></div>
            <div class="sj_subgroup" gp="9"></div>

            <div gpsh="0"></div>
            <div gpsh="1"></div>
            <div gpsh="2"></div>
            <div gpsh="3"></div>
            <div gpsh="4"></div>
            <div gpsh="5"></div>
            <div gpsh="6"></div>
            <div gpsh="7"></div>
            <div gpsh="8"></div>
            <div gpsh="9"></div>
        </div>
    </div>
    <div class="sj_title">预测结果</div>
    <div id="sj_result"></div>
</div>
<script src="js/view_ui/view_mobile_analysis.js?_=1234567890"></script>