<div data-view="view_books" data-title="书库" data-showfooter="true" data-left-actions=""
    data-right-actions="" style="display:none;" class="app-view">
    <div class="layui-tab layui-tab-brief" lay-filter="bookstab">
        <ul class="layui-tab-title layui-bg-gray" id="bookstabbar">
            <li lay-id="bookstab1">
                <div style="font-weight: bold;font-size: 16px;">山</div>
            </li>
            <li lay-id="bookstab2">
                <div style="font-weight: bold;font-size: 16px;">医</div>
            </li>
            <li lay-id="bookstab3" class="layui-this">
                <div style="font-weight: bold;font-size: 16px;">命</div>
            </li>
            <li lay-id="bookstab4">
                <div style="font-weight: bold;font-size: 16px;">相</div>
            </li>
            <li lay-id="bookstab5">
                <div style="font-weight: bold;font-size: 16px;">卜</div>
            </li>
            <li lay-id="bookstab6">
                <div style="font-weight: bold;font-size: 16px;">其它</div>
            </li>
        </ul>
        <div id="booksbackBtn">返回上级</div>
        <div id="booksTabContent" class="layui-tab-content" style="background-color: #eee;">
            <div class="layui-tab-item">
                <iframe id="bookstab1Frame" src="assets/books/山/books_index.html" frameborder="0" style="width: 100%; height: 100%;"></iframe>
            </div>
            <div class="layui-tab-item">
                <iframe id="bookstab2Frame" src="assets/books/医/books_index.html" frameborder="0" style="width: 100%; height: 100%;"></iframe>
            </div>
            <div class="layui-tab-item">
                <iframe id="bookstab3Frame" src="assets/books/命/books_index.html" frameborder="0" style="width: 100%; height: 100%;"></iframe>
            </div>
            <div class="layui-tab-item">
                <iframe id="bookstab4Frame" src="assets/books/相/books_index.html" frameborder="0" style="width: 100%; height: 100%;"></iframe>
            </div>
            <div class="layui-tab-item">
                <iframe id="bookstab5Frame" src="assets/books/卜/books_index.html" frameborder="0" style="width: 100%; height: 100%;"></iframe>
            </div>
            <div class="layui-tab-item">
                <iframe id="bookstab6Frame" src="assets/books/相关经典/books_index.html" frameborder="0" style="width: 100%; height: 100%;"></iframe>
            </div>
        </div>
    </div>
</div>
<script>
</script>
<script src="js/view_ui/view_books.js?_=1234567890"></script>
