<div data-view="view_recordlist" data-title="排盘记录" data-showfooter="false" data-left-actions="back"
    data-right-actions="deleteRecord" style="display: none;" class="app-view">
    <div>
        <div class="app-file-list-search">
            <input id="recordsearchbox" type="text" class="layui-input app-file-searchbox" placeholder="请输入搜索事项" />
        </div>
        <div id="recordlist" class="record-list">

        </div>
        <button id="deleteRecordOkBtn" type="button" style="display: none;" class="app-button-delete">删 除</button>
        <button id="deleteRecordCancelBtn" type="button" style="display:none" class="app-button-cancel">取 消</button>

    </div>
</div>
<script src="js/view_ui/view_recordlist.js?_=1234567890"></script>
