<div data-view="view_login" data-title="注册/登录" data -showfooter="false" data-left-actions="back" data-right-actions=""
    style="display: none;" class="app-view">
    <div class="app-login-title">验证码登录</div>
    <div class="app-login-uid">
        <input class="app-login-uid-input" type="text" placeholder="请输入手机号/电子邮箱" />
    </div>
    <div class="app-login-pwd">
        <input class="app-login-pwd-input" type="password" placeholder="请输入验证码" />
        <span class="app-login-pwd-ver">获取验证码</span>
    </div>
    <div class="app-login-btn">验证码登录</div>
    <div style="color:rgb(160, 160, 160); font-size: 12px;text-align: center;">初次使用请使用验证码方式登录</div>

    <div class="app-login-gap" style="color:rgb(160, 160, 160);">──── 或 者 ────</div>

    <div class="app-login-title">密码登录</div>
    <div class="app-login-uid">
        <input class="app-login-uid-input2" type="text" placeholder="请输入手机号/电子邮箱" />
    </div>
    <div class="app-login-pwd2">
        <input class="app-login-pwd-input2" type="password" placeholder="请输入密码" />
    </div>
    <div class="app-login-btn2">密码登录</div>
    <div class="app-modifylogin-btn">修改密码</div>
    <div style="color:rgb(160, 160, 160); font-size: 12px;text-align: center;">初始密码为手机号后4位或邮箱前4位</div>
</div>
<script src="js/view_ui/view_login.js?_=1234567890"></script>
