<div data-view="view_filelist" data-title="八字档案" data-showfooter="true" data-left-actions="" data-right-actions="delete"
    style="display: none;" class="app-view">
    <div>
        <div class="app-file-list-search">
            <input id="filesearchbox" type="text" class="layui-input app-file-searchbox" placeholder="请输入姓名搜索" />
        </div>
        <div id="filelist" class="app-file-list">

        </div>
        <button id="deleteOkBtn" type="button" style="display: none;" class="app-button-delete">删 除</button>
        <button id="deleteCancelBtn" type="button" style="display:none" class="app-button-cancel">取 消</button>

        <button id="newBtn" type="button" class="app-button-new"></button>

    </div>
</div>
<script src="js/view_ui/view_filelist.js?_=1234567890"></script>