<div data-view="view_qimen_3shi" data-title="太乙三式" data-showfooter="false" data-left-actions="back" data-right-actions="listRecord,saveRecord"
    style="display: none;" class="app-view">
    <table style="text-align: center;" class="layui-table" lay-even="" lay-size="sm" lay-skin="nob">
        <colgroup>
            <col width="20%">
            <col width="20%">
            <col width="20%">
            <col width="20%">
            <col width="20%">
            <col>
        </colgroup>
        <tr>
            <td class="qimen-table-header">事项</td>
            <td colspan="4"><input id="qimen3shi_desc" placeholder="输入预测事项"
                    style="font-size:16px;color: var(--theme-color);text-align: center; width:100%; border-width:0px"
                    maxlength="30"></td>
        </tr>
        <tr>
            <td class="qimen-table-header">时间</td>
            <td colspan="4" id="qimen3shi_date"></td>
        </tr>
        <tr>
            <td class="qimen-table-header">节气</td>
            <td colspan="2" id="qimen3shi_jieqi"></td>
            <td colspan="2" id="qimen3shi_yangdun"></td>
        </tr>
        <tr class="qimen-table-header">
            <td>值符</td>
            <td>值使</td>
            <td>旬首</td>
            <td>马星</td>
            <td>空亡</td>
        </tr>
        <tr>
            <td id="qimen3shi_zhifu"></td>
            <td id="qimen3shi_zhishi"></td>
            <td id="qimen3shi_xunshou"></td>
            <td id="qimen3shi_maxing"></td>
            <td id="qimen3shi_kongwang"></td>
        </tr>
        <tr class="qimen-table-header">
            <td>月将</td>
            <td>年命</td>
            <td>用神</td>
            <td>贵人</td>
            <td>性别</td>
        </tr>
        <tr>
            <td id="qimen3shi_yuejiang"></td>
            <td id="qimen3shi_yeargz"></td>
            <td id="qimen3shi_yongshen"></td>
            <td id="qimen3shi_guiren"></td>
            <td id="qimen3shi_sex"></td>
        </tr>
        <tr class="qimen-table-header">
            <td></td>
            <td>年柱</td>
            <td>月柱</td>
            <td>日柱</td>
            <td>时柱</td>
        </tr>
        <tr>
            <td class="qimen-table-header">四柱</td>
            <td id="qimen3shi_year" class="qimen-4zhu"></td>
            <td id="qimen3shi_month" class="qimen-4zhu"></td>
            <td id="qimen3shi_day" class="qimen-4zhu"></td>
            <td id="qimen3shi_hour" class="qimen-4zhu"></td>
        </tr>
        <tr class="qimen-table-header">
            <td>积数</td>
            <td>主算数</td>
            <td>客算数</td>
            <td>天马</td>
            <td>太乙宫位</td>
        </tr>
        <tr>
            <td id="qimen3shi_jishu">43422</td>
            <td id="qimen3shi_zhushuan">43</td>
            <td id="qimen3shi_keshuan">15</td>
            <td id="qimen3shi_tianma">寅</td>
            <td id="qimen3shi_taiyi">2管地</td>
        </tr>
        <tr style="height: 360px;">
            <td colspan="5">
                <div id="qimen3shipaipan" style="justify-content: space-around;margin: 0 10px 0 10px;"></div>
            </td>
        </tr>
        <tr style="height: 75px;">
            <td colspan="5" class="qimen-bottom-bar">
                奇门符号颜色：<span class="rumu">入墓</span>、<span class="jixing">击刑</span>、<span class="menpo">门迫</span>、<span
                    class="jixingrumu">刑+墓</span><br />
                六壬符号颜色：<span style="color:#ff7700">贵神</span>、
                <span style="color:rgb(128, 19, 0)">年煞</span>、<span style="color:blue">命宫</span>、<span style="color:green">建星</span><br />
太乙地(人)盘：<span class="qimen3s-cell-16shen" style="width:25px;height: 15px;margin:5px;display: inline-block;border-radius: 3px;">&nbsp</span><br/>
太乙天(神)盘：<span class="qimen3s-cell-16active" style="width:25px;height: 15px;margin:5px;display: inline-block;border-radius: 3px;">&nbsp</span>
            </td>
        </tr>
    </table>
    <div class="qimen-gap"></div>
</div>
<script src="js/view_ui/view_qimen_3shi.js?_=1234567890"></script>