<div data-view="view_profile" data-title="我的吉时雨" data-showfooter="true" data-left-actions="" data-right-actions=""
    style="display: none;" class="app-view">

    <div class="app-profile-banner">
        <img src="images/logo.png" class="app-profile-logo" />
        <div class="app-profile-user">注册/登录</div>
        <div id="app-profile-userid" class="app-profile-userid"><span>ID: </span><span id="app-profile-userid-val"></span></div>
    </div>
    <div class="app-small-card" style="margin-top: 150px; ">
        主题色 <span style="float: right;line-height: 60px;">
            <span class="app-profile-theme theme1"></span>
            <span class="app-profile-theme theme2"></span>
            <span class="app-profile-theme theme3"></span>
            <span class="app-profile-theme theme4"></span>
            <span class="app-profile-theme theme5"></span>
            <span class="app-profile-theme theme6"></span>
            <span class="app-profile-theme theme7"></span>
        </span>
    </div>
    
    <div class="app-small-card-gap"></div>

    <div class="app-small-card" id="app-profile-card-nick">
        用户呢称 <span class="app-small-card-right">＞</span><span class="app-small-card-right" id="app-profile-card-nick-val">****＞</span>
    </div>
    <div class="app-small-card" id="app-profile-card-mobile">
        手机号 <span class="app-small-card-right">＞</span><span class="app-small-card-right" id="app-profile-card-mobile-val">****＞</span>
    </div>
    <div class="app-small-card" id="app-profile-card-email">
        电子邮箱 <span class="app-small-card-right">＞</span><span class="app-small-card-right" id="app-profile-card-email-val">****＞</span>
    </div>

    <div class="app-small-card-gap"></div>

    <div class="app-small-card" id="app-profile-card-perference">
        偏好设置 <span class="app-small-card-right">＞</span>
    </div>
    <div class="app-small-card" id="app-profile-card-app">
        App下载 <span class="app-small-card-right">＞</span>
    </div>
    <div class="app-small-card" id="app-profile-card-about">
        关于吉时雨 <span class="app-small-card-right">＞</span>
    </div>
    <div class="app-small-card-gap"></div>
    <div class="app-small-card-gap"></div>
    <div class="app-logout-btn">退出帐号</div>
    <div class="app-small-card-gap"></div>


</div>
<script src="js/view_ui/view_profile.js?_1234567890"></script>