<div pid="da6ren-pan" class="da6ren-pan-container">
    <div style="margin:auto">
        <div class="da6ren-9gong-grid">
            <div class="da6ren-9gong-grid-cell-4"></div>
            <div class="da6ren-9gong-grid-cell-4"></div>
            <div class="da6ren-9gong-grid-cell-4"></div>
            <div class="da6ren-9gong-grid-cell-4"></div>
            <div class="da6ren-9gong-grid-cell-4"></div>
            <div class="da6ren-9gong-grid-cell-4"></div>
            <div class="da6ren-9gong-grid-cell-4"></div>
            <div class="da6ren-9gong-grid-cell-4"></div>
            <div class="da6ren-9gong-grid-cell-4"></div>
            <div class="da6ren-9gong-grid-cell-4"></div>
            <div class="da6ren-9gong-grid-cell-4"></div>
            <div class="da6ren-9gong-grid-cell-3"></div>
            <div class="da6ren-9gong-grid-cell-3"></div>
            <div class="da6ren-9gong-grid-cell-3">{{d["tianganList"]["巳"]}}</div>
            <div class="da6ren-9gong-grid-cell-3">{{d["tianganList"]["午"]}}</div>
            <div class="da6ren-9gong-grid-cell-3">{{d["tianganList"]["未"]}}</div>
            <div class="da6ren-9gong-grid-cell-3">{{d["tianganList"]["申"]}}</div>
            <div class="da6ren-9gong-grid-cell-3"></div>
            <div class="da6ren-9gong-grid-cell-3"></div>
            <div class="da6ren-9gong-grid-cell-4"></div>
            <div class="da6ren-9gong-grid-cell-4"></div>
            <div class="da6ren-9gong-grid-cell-3"></div>
            <div class="da6ren-9gong-grid-cell-2"></div>
            <div class="da6ren-9gong-grid-cell-2">{{d["guishenList"]["巳"]}}</div>
            <div class="da6ren-9gong-grid-cell-2">{{d["guishenList"]["午"]}}</div>
            <div class="da6ren-9gong-grid-cell-2">{{d["guishenList"]["未"]}}</div>
            <div class="da6ren-9gong-grid-cell-2">{{d["guishenList"]["申"]}}</div>
            <div class="da6ren-9gong-grid-cell-2"></div>
            <div class="da6ren-9gong-grid-cell-3"></div>
            <div class="da6ren-9gong-grid-cell-4"></div>
            <div class="da6ren-9gong-grid-cell-4"></div>
            <div class="da6ren-9gong-grid-cell-3"></div>
            <div class="da6ren-9gong-grid-cell-2"></div>
            <div class="da6ren-9gong-grid-cell-1">{{d["yueJiangList"]["巳"]}}</div>
            <div class="da6ren-9gong-grid-cell-1">{{d["yueJiangList"]["午"]}}</div>
            <div class="da6ren-9gong-grid-cell-1">{{d["yueJiangList"]["未"]}}</div>
            <div class="da6ren-9gong-grid-cell-1">{{d["yueJiangList"]["申"]}}</div>
            <div class="da6ren-9gong-grid-cell-2"></div>
            <div class="da6ren-9gong-grid-cell-3"></div>
            <div class="da6ren-9gong-grid-cell-4"></div>
            <div class="da6ren-9gong-grid-cell-4"></div>
            <div class="da6ren-9gong-grid-cell-3">{{d["tianganList"]["辰"]}}</div>
            <div class="da6ren-9gong-grid-cell-2">{{d["guishenList"]["辰"]}}</div>
            <div class="da6ren-9gong-grid-cell-1">{{d["yueJiangList"]["辰"]}}</div>
            <div></div>
            <div></div>
            <div class="da6ren-9gong-grid-cell-1">{{d["yueJiangList"]["酉"]}}</div>
            <div class="da6ren-9gong-grid-cell-2">{{d["guishenList"]["酉"]}}</div>
            <div class="da6ren-9gong-grid-cell-3">{{d["tianganList"]["酉"]}}</div>
            <div class="da6ren-9gong-grid-cell-4"></div>
            <div class="da6ren-9gong-grid-cell-4"></div>
            <div class="da6ren-9gong-grid-cell-3">{{d["tianganList"]["卯"]}}</div>
            <div class="da6ren-9gong-grid-cell-2">{{d["guishenList"]["卯"]}}</div>
            <div class="da6ren-9gong-grid-cell-1">{{d["yueJiangList"]["卯"]}}</div>
            <div></div>
            <div></div>
            <div class="da6ren-9gong-grid-cell-1">{{d["yueJiangList"]["戌"]}}</div>
            <div class="da6ren-9gong-grid-cell-2">{{d["guishenList"]["戌"]}}</div>
            <div class="da6ren-9gong-grid-cell-3">{{d["tianganList"]["戌"]}}</div>
            <div class="da6ren-9gong-grid-cell-4"></div>
            <div class="da6ren-9gong-grid-cell-4"></div>
            <div class="da6ren-9gong-grid-cell-3"></div>
            <div class="da6ren-9gong-grid-cell-2"></div>
            <div class="da6ren-9gong-grid-cell-1">{{d["yueJiangList"]["寅"]}}</div>
            <div class="da6ren-9gong-grid-cell-1">{{d["yueJiangList"]["丑"]}}</div>
            <div class="da6ren-9gong-grid-cell-1">{{d["yueJiangList"]["子"]}}</div>
            <div class="da6ren-9gong-grid-cell-1">{{d["yueJiangList"]["亥"]}}</div>
            <div class="da6ren-9gong-grid-cell-2"></div>
            <div class="da6ren-9gong-grid-cell-3"></div>
            <div class="da6ren-9gong-grid-cell-4"></div>
            <div class="da6ren-9gong-grid-cell-4"></div>
            <div class="da6ren-9gong-grid-cell-3"></div>
            <div class="da6ren-9gong-grid-cell-2"></div>
            <div class="da6ren-9gong-grid-cell-2">{{d["guishenList"]["寅"]}}</div>
            <div class="da6ren-9gong-grid-cell-2">{{d["guishenList"]["丑"]}}</div>
            <div class="da6ren-9gong-grid-cell-2">{{d["guishenList"]["子"]}}</div>
            <div class="da6ren-9gong-grid-cell-2">{{d["guishenList"]["亥"]}}</div>
            <div class="da6ren-9gong-grid-cell-2"></div>
            <div class="da6ren-9gong-grid-cell-3"></div>
            <div class="da6ren-9gong-grid-cell-4"></div>
            <div class="da6ren-9gong-grid-cell-4"></div>
            <div class="da6ren-9gong-grid-cell-3"></div>
            <div class="da6ren-9gong-grid-cell-3"></div>
            <div class="da6ren-9gong-grid-cell-3">{{d["tianganList"]["寅"]}}</div>
            <div class="da6ren-9gong-grid-cell-3">{{d["tianganList"]["丑"]}}</div>
            <div class="da6ren-9gong-grid-cell-3">{{d["tianganList"]["子"]}}</div>
            <div class="da6ren-9gong-grid-cell-3">{{d["tianganList"]["亥"]}}</div>
            <div class="da6ren-9gong-grid-cell-3"></div>
            <div class="da6ren-9gong-grid-cell-3"></div>
            <div class="da6ren-9gong-grid-cell-4"></div>
            <div class="da6ren-9gong-grid-cell-4"></div>
            <div class="da6ren-9gong-grid-cell-4"></div>
            <div class="da6ren-9gong-grid-cell-4"></div>
            <div class="da6ren-9gong-grid-cell-4"></div>
            <div class="da6ren-9gong-grid-cell-4"></div>
            <div class="da6ren-9gong-grid-cell-4"></div>
            <div class="da6ren-9gong-grid-cell-4"></div>
            <div class="da6ren-9gong-grid-cell-4"></div>
            <div class="da6ren-9gong-grid-cell-4"></div>
            <div class="da6ren-9gong-grid-cell-4"></div>
        </div>
    </div>
    <div style="display: flex">
        <div class="da6ren-4ke-grid">
            <div>{{d["_4keList"][3][2]}}</div>
            <div>{{d["_4keList"][2][2]}}</div>
            <div>{{d["_4keList"][1][2]}}</div>
            <div>{{d["_4keList"][0][2]}}</div>
            <div style="font-weight: bold;">{{d["_4keList"][3][1]}}</div>
            <div style="font-weight: bold;">{{d["_4keList"][2][1]}}</div>
            <div style="font-weight: bold;">{{d["_4keList"][1][1]}}</div>
            <div style="font-weight: bold;">{{d["_4keList"][0][1]}}</div>
            <div style="font-weight: bold;">{{d["_4keList"][3][0]}}</div>
            <div style="font-weight: bold;">{{d["_4keList"][2][0]}}</div>
            <div style="font-weight: bold;">{{d["_4keList"][1][0]}}</div>
            <div style="font-weight: bold;">{{d["_4keList"][0][0]}}</div>
        </div>
        <div style="width: 30px;"></div>
        <div class="da6ren-3chuan-grid">
            <div>{{d["_3chuanList"][0][3]}}</div>
            <div>{{d["_3chuanList"][0][1]}}</div>
            <div style="font-weight: bold;">{{d["_3chuanList"][0][0]}}</div>
            <div style="color:gray">{{d["_3chuanList"][0][2]}}</div>
            <div>{{d["_3chuanList"][1][3]}}</div>
            <div>{{d["_3chuanList"][1][1]}}</div>
            <div style="font-weight: bold;">{{d["_3chuanList"][1][0]}}</div>
            <div style="color:gray">{{d["_3chuanList"][1][2]}}</div>
            <div>{{d["_3chuanList"][2][3]}}</div>
            <div>{{d["_3chuanList"][2][1]}}</div>
            <div style="font-weight: bold;">{{d["_3chuanList"][2][0]}}</div>
            <div style="color:gray">{{d["_3chuanList"][2][2]}}</div>
        </div>
    </div>
</div>