<div pid="qimen6ren-pan" class="qimen-pan-container" style="height: 415px !important;">
    <div class="qimen-pan-ma" style="text-align: right;display:flex;justify-content: flex-end;align-items: end;position: relative;">
        {{d.qimen["巽"].ma?"马":""}}</div>
    <div class="qimen-pan-container-top">
        <div class="qimen-9gong-tmdh" style="visibility: visible !important;line-height: 17px;">{{d.da6ren.tianganList["巳"]}}<br/><span style="color:#ff7700">{{d.da6ren.guishenList["巳"]}}</span><br/>{{d.da6ren.yueJiangList["巳"]}}</div>
        <div class="qimen-9gong-tmdh" style="visibility: visible !important;line-height: 17px;">{{d.da6ren.tianganList["午"]}}<br/><span style="color:#ff7700">{{d.da6ren.guishenList["午"]}}</span><br/>{{d.da6ren.yueJiangList["午"]}}</div>
        <div class="qimen-9gong-tmdh" style="visibility: visible !important;line-height: 17px;">{{d.da6ren.tianganList["未"]}}<br/><span style="color:#ff7700">{{d.da6ren.guishenList["未"]}}</span><br/>{{d.da6ren.yueJiangList["未"]}}</div>
        <div style="display:flex;justify-items: center;align-items: end;"><span style="color:rgb(128, 19, 0)">{{d.da6ren._12nianshaList["巳"]}}</span><span style="color:blue">{{d.da6ren._12gongList["巳"]}}</span><span style="color:green">{{d.qimen.tmdh["巳"].jianChu}}</span></div>
        <div style="display:flex;justify-items: center;align-items: end;"><span style="color:rgb(128, 19, 0)">{{d.da6ren._12nianshaList["午"]}}</span><span style="color:blue">{{d.da6ren._12gongList["午"]}}</span><span style="color:green">{{d.qimen.tmdh["午"].jianChu}}</span></div>
        <div style="display:flex;justify-items: center;align-items: end;"><span style="color:rgb(128, 19, 0)">{{d.da6ren._12nianshaList["未"]}}</span><span style="color:blue">{{d.da6ren._12gongList["未"]}}</span><span style="color:green">{{d.qimen.tmdh["未"].jianChu}}</span></div>
    </div>
    <div class="qimen-pan-ma" style="display:flex;justify-items: start;align-items: end;position: relative;">
        {{d.qimen["坤"].ma?"马":""}}</div>
    <div class="qimen6r-pan-container-left">
        <div style="text-align:right;visibility: visible !important;" class="qimen-9gong-tmdh">{{d.da6ren.tianganList["辰"]}}<span style="color:#ff7700">{{d.da6ren.guishenList["辰"]}}</span>{{d.da6ren.yueJiangList["辰"]}}</div>
        <div style="text-align: right;line-height: 15px;padding:3px"><span style="color:rgb(128, 19, 0)">{{d.da6ren._12nianshaList["辰"]}}</span><span style="color:blue">{{d.da6ren._12gongList["辰"]}}</span><br/><span style="color:green">{{d.qimen.tmdh["辰"].jianChu}}</span></div>
        <div style="text-align:right;visibility: visible !important;" class="qimen-9gong-tmdh">{{d.da6ren.tianganList["卯"]}}<span style="color:#ff7700">{{d.da6ren.guishenList["卯"]}}</span>{{d.da6ren.yueJiangList["卯"]}}</div>
        <div style="text-align: right;line-height: 15px;padding:3px"><span style="color:rgb(128, 19, 0)">{{d.da6ren._12nianshaList["卯"]}}</span><span style="color:blue">{{d.da6ren._12gongList["卯"]}}</span><br/><span style="color:green">{{d.qimen.tmdh["卯"].jianChu}}</span></div>
        <div style="text-align:right;visibility: visible !important;" class="qimen-9gong-tmdh">{{d.da6ren.tianganList["寅"]}}<span style="color:#ff7700">{{d.da6ren.guishenList["寅"]}}</span>{{d.da6ren.yueJiangList["寅"]}}</div>
        <div style="text-align: right;line-height: 15px;padding:3px"><span style="color:rgb(128, 19, 0)">{{d.da6ren._12nianshaList["寅"]}}</span><span style="color:blue">{{d.da6ren._12gongList["寅"]}}</span><br/><span style="color:green">{{d.qimen.tmdh["寅"].jianChu}}</span></div>
    </div>
    <div style="margin:auto">
        <div class="qimen-9gong-grid">
            <!-- -->
            <div class="qimen6r-9gong-grid-cell" style="border-top-left-radius: 5px" gong="巽">
                <div class="qimen-9gong-tiandipan">{{d.qimen["巽"].bashen}}{{d.qimen["巽"].kongwang?"〇":""}}</div>
                <div class="qimen-9gong-tiandipan" style="text-align: right;color:darkgray">{{d.qimen["巽"].yingan}}{{d.qimen["巽"].yinganJi?d.qimen["巽"].yinganJi:""}}</div>
                <div class="qimen-9gong-tiandipan"><span
                        class='{{d.qimen["巽"].tianpan_jixing||""}}{{d.qimen["巽"].tianpan_rumu||""}}'>{{d.qimen["巽"].tianpan}}</span><span
                        class='{{d.qimen["巽"].tianpanJi_jixing||""}}{{d.qimen["巽"].tianpanJi_rumu||""}}'>{{d.qimen["巽"].tianpanJi||""}}</span>
                </div>
                <div class="qimen-9gong-tiandipan" style="text-align: right">{{d.qimen["巽"].jiuxing}}</div>
                <div><span class='{{d.qimen["巽"].dipan_jixing||""}}{{d.qimen["巽"].dipan_rumu||""}}'>{{d.qimen["巽"].dipan}}</span>
                </div>
                <div style="text-align: right;"><span class='{{d.qimen["巽"].men_po||""}}'>{{d.qimen["巽"].men}}</span></div>
            </div>
            <div class="qimen6r-9gong-grid-cell" gong="离">
                <div class="qimen-9gong-tiandipan">{{d.qimen["离"].bashen}}{{d.qimen["离"].kongwang?"〇":""}}</span>
                </div>
                <div class="qimen-9gong-tiandipan" style="text-align: right;color:darkgray">{{d.qimen["离"].yingan}}{{d.qimen["离"].yinganJi?d.qimen["离"].yinganJi:""}}</div>
                <div class="qimen-9gong-tiandipan"><span
                        class='{{d.qimen["离"].tianpan_jixing||""}}{{d.qimen["离"].tianpan_rumu||""}}'>{{d.qimen["离"].tianpan}}</span><span
                        class='{{d.qimen["离"].tianpanJi_jixing||""}}{{d.qimen["离"].tianpanJi_rumu||""}}'>{{d.qimen["离"].tianpanJi||""}}</span>
                </div>
                <div class="qimen-9gong-tiandipan" style="text-align: right;">{{d.qimen["离"].jiuxing}}</div>
                <div><span class='{{d.qimen["离"].dipan_jixing||""}}{{d.qimen["离"].dipan_rumu||""}}'>{{d.qimen["离"].dipan}}</span>
                </div>
                <div style="text-align: right;"><span class='{{d.qimen["离"].men_po||""}}'>{{d.qimen["离"].men}}</span></div>
            </div>
            <div class="qimen6r-9gong-grid-cell" style="border-top-right-radius: 5px" gong="坤">
                <div class="qimen-9gong-tiandipan">{{d.qimen["坤"].bashen}}{{d.qimen["坤"].kongwang?"〇":""}}</div>
                <div class="qimen-9gong-tiandipan" style="text-align: right;color:darkgray">{{d.qimen["坤"].yingan}}{{d.qimen["坤"].yinganJi?d.qimen["坤"].yinganJi:""}}</div>
                <div class="qimen-9gong-tiandipan"><span
                        class='{{d.qimen["坤"].tianpan_jixing||""}}{{d.qimen["坤"].tianpan_rumu||""}}'>{{d.qimen["坤"].tianpan}}</span><span
                        class='{{d.qimen["坤"].tianpanJi_jixing||""}}{{d.qimen["坤"].tianpanJi_rumu||""}}'>{{d.qimen["坤"].tianpanJi||""}}</span>
                </div>
                <div class="qimen-9gong-tiandipan" style="text-align: right;">{{d.qimen["坤"].jiuxing}}</div>
                <div><span class='{{d.qimen["坤"].dipan_jixing||""}}{{d.qimen["坤"].dipan_rumu||""}}'>{{d.qimen["坤"].dipan}}</span><span
                        class='{{d.qimen["坤"].dipanJi_jixing||""}}{{d.qimen["坤"].dipanJi_rumu||""}}'>{{d.qimen["坤"].dipanJi}}</span>
                </div>
                <div style="text-align: right;"><span class='{{d.qimen["坤"].men_po||""}}'>{{d.qimen["坤"].men}}</span></div>
            </div>
            <!-- -->
            <div class="qimen6r-9gong-grid-cell" gong="震">
                <div class="qimen-9gong-tiandipan">{{d.qimen["震"].bashen}}{{d.qimen["震"].kongwang?"〇":""}}</div>
                <div class="qimen-9gong-tiandipan" style="text-align: right;color:darkgray">{{d.qimen["震"].yingan}}{{d.qimen["震"].yinganJi?d.qimen["震"].yinganJi:""}}</div>
                <div class="qimen-9gong-tiandipan"><span
                        class='{{d.qimen["震"].tianpan_jixing||""}}{{d.qimen["震"].tianpan_rumu||""}}'>{{d.qimen["震"].tianpan}}</span><span
                        class='{{d.qimen["震"].tianpanJi_jixing||""}}{{d.qimen["震"].tianpanJi_rumu||""}}'>{{d.qimen["震"].tianpanJi||""}}</span>
                </div>
                <div class="qimen-9gong-tiandipan" style="text-align: right;">{{d.qimen["震"].jiuxing}}</div>
                <div><span class='{{d.qimen["震"].dipan_jixing||""}}{{d.qimen["震"].dipan_rumu||""}}'>{{d.qimen["震"].dipan}}</span>
                </div>
                <div style="text-align: right;"><span class='{{d.qimen["震"].men_po||""}}'>{{d.qimen["震"].men}}</span></div>
            </div>
            <div class="qimen6r-9gong-grid-cell">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="qimen6r-9gong-grid-cell" gong="兑">
                <div class="qimen-9gong-tiandipan">{{d.qimen["兑"].bashen}}{{d.qimen["兑"].kongwang?"〇":""}}</div>
                <div class="qimen-9gong-tiandipan" style="text-align: right;color:darkgray">{{d.qimen["兑"].yingan}}{{d.qimen["兑"].yinganJi?d.qimen["兑"].yinganJi:""}}</div>
                <div class="qimen-9gong-tiandipan"><span
                        class='{{d.qimen["兑"].tianpan_jixing||""}}{{d.qimen["兑"].tianpan_rumu||""}}'>{{d.qimen["兑"].tianpan}}</span><span
                        class='{{d.qimen["兑"].tianpanJi_jixing||""}}{{d.qimen["兑"].tianpanJi_rumu||""}}'>{{d.qimen["兑"].tianpanJi||""}}</span>
                </div>
                <div class="qimen-9gong-tiandipan" style="text-align: right;">{{d.qimen["兑"].jiuxing}}</div>
                <div><span class='{{d.qimen["兑"].dipan_jixing||""}}{{d.qimen["兑"].dipan_rumu||""}}'>{{d.qimen["兑"].dipan}}</span>
                </div>
                <div style="text-align: right;"><span class='{{d.qimen["兑"].men_po||""}}'>{{d.qimen["兑"].men}}</span></div>
            </div>
            <!-- -->
            <div class="qimen6r-9gong-grid-cell" style="border-bottom-left-radius: 5px" gong="艮">
                <div class="qimen-9gong-tiandipan">{{d.qimen["艮"].bashen}}{{d.qimen["艮"].kongwang?"〇":""}}</div>
                <div class="qimen-9gong-tiandipan" style="text-align: right;color:darkgray">{{d.qimen["艮"].yingan}}{{d.qimen["艮"].yinganJi?d.qimen["艮"].yinganJi:""}}</div>
                <div class="qimen-9gong-tiandipan"><span
                        class='{{d.qimen["艮"].tianpan_jixing||""}}{{d.qimen["艮"].tianpan_rumu||""}}'>{{d.qimen["艮"].tianpan}}</span><span
                        class='{{d.qimen["艮"].tianpanJi_jixing||""}}{{d.qimen["艮"].tianpanJi_rumu||""}}'>{{d.qimen["艮"].tianpanJi||""}}</span>
                </div>
                <div class="qimen-9gong-tiandipan" style="text-align: right;">{{d.qimen["艮"].jiuxing}}</div>
                <div><span class='{{d.qimen["艮"].dipan_jixing||""}}{{d.qimen["艮"].dipan_rumu||""}}'>{{d.qimen["艮"].dipan}}</span>
                </div>
                <div style="text-align: right;"><span class='{{d.qimen["艮"].men_po||""}}'>{{d.qimen["艮"].men}}</span></div>
            </div>
            <div class="qimen6r-9gong-grid-cell" gong="坎">
                <div class="qimen-9gong-tiandipan">{{d.qimen["坎"].bashen}}{{d.qimen["坎"].kongwang?"〇":""}}</div>
                <div class="qimen-9gong-tiandipan" style="text-align: right;color:darkgray">{{d.qimen["坎"].yingan}}{{d.qimen["坎"].yinganJi?d.qimen["坎"].yinganJi:""}}</div>
                <div class="qimen-9gong-tiandipan"><span
                        class='{{d.qimen["坎"].tianpan_jixing||""}}{{d.qimen["坎"].tianpan_rumu||""}}'>{{d.qimen["坎"].tianpan}}</span><span
                        class='{{d.qimen["坎"].tianpanJi_jixing||""}}{{d.qimen["坎"].tianpanJi_rumu||""}}'>{{d.qimen["坎"].tianpanJi||""}}</span>
                </div>
                <div class="qimen-9gong-tiandipan" style="text-align: right;">{{d.qimen["坎"].jiuxing}}</div>
                <div><span class='{{d.qimen["坎"].dipan_jixing||""}}{{d.qimen["坎"].dipan_rumu||""}}'>{{d.qimen["坎"].dipan}}</span>
                </div>
                <div style="text-align: right;"><span class='{{d.qimen["坎"].men_po||""}}'>{{d.qimen["坎"].men}}</span></div>
            </div>
            <div class="qimen6r-9gong-grid-cell" style="border-bottom-right-radius: 5px" gong="乾">
                <div class="qimen-9gong-tiandipan">{{d.qimen["乾"].bashen}}{{d.qimen["乾"].kongwang?"〇":""}}</div>
                <div class="qimen-9gong-tiandipan" style="text-align: right;color:darkgray">{{d.qimen["乾"].yingan}}{{d.qimen["乾"].yinganJi?d.qimen["乾"].yinganJi:""}}</div>
                <div class="qimen-9gong-tiandipan"><span
                        class='{{d.qimen["乾"].tianpan_jixing||""}}{{d.qimen["乾"].tianpan_rumu||""}}'>{{d.qimen["乾"].tianpan}}</span><span
                        class='{{d.qimen["乾"].tianpanJi_jixing||""}}{{d.qimen["乾"].tianpanJi_rumu||""}}'>{{d.qimen["乾"].tianpanJi||""}}</span>
                </div>
                <div class="qimen-9gong-tiandipan" style="text-align: right;">{{d.qimen["乾"].jiuxing}}</div>
                <div><span class='{{d.qimen["乾"].dipan_jixing||""}}{{d.qimen["乾"].dipan_rumu||""}}'>{{d.qimen["乾"].dipan}}</span>
                </div>
                <div style="text-align: right;"><span class='{{d.qimen["乾"].men_po||""}}'>{{d.qimen["乾"].men}}</span></div>
            </div>
        </div>
    </div>
    <div class="qimen6r-pan-container-right">
        <div style="text-align: left;line-height: 15px;padding:3px"><span style="color:rgb(128, 19, 0)">{{d.da6ren._12nianshaList["申"]}}</span><span style="color:blue">{{d.da6ren._12gongList["申"]}}<br/></span><span style="color:green">{{d.qimen.tmdh["申"].jianChu}}</span></div>
        <div style="text-align:left;visibility: visible !important;" class="qimen-9gong-tmdh">{{d.da6ren.yueJiangList["申"]}}<span style="color:#ff7700">{{d.da6ren.guishenList["申"]}}</span>{{d.da6ren.tianganList["申"]}}</div>
        <div style="text-align: left;line-height: 15px;padding:3px"><span style="color:rgb(128, 19, 0)">{{d.da6ren._12nianshaList["酉"]}}</span><span style="color:blue">{{d.da6ren._12gongList["酉"]}}<br/></span><span style="color:green">{{d.qimen.tmdh["酉"].jianChu}}</span></div>
        <div style="text-align:left;visibility: visible !important;" class="qimen-9gong-tmdh">{{d.da6ren.yueJiangList["酉"]}}<span style="color:#ff7700">{{d.da6ren.guishenList["酉"]}}</span>{{d.da6ren.tianganList["酉"]}}</div>
        <div style="text-align: left;line-height: 15px;padding:3px"><span style="color:rgb(128, 19, 0)">{{d.da6ren._12nianshaList["戌"]}}</span><span style="color:blue">{{d.da6ren._12gongList["戌"]}}<br/></span><span style="color:green">{{d.qimen.tmdh["戌"].jianChu}}</span></div>
        <div style="text-align:left;visibility: visible !important;" class="qimen-9gong-tmdh">{{d.da6ren.yueJiangList["戌"]}}<span style="color:#ff7700">{{d.da6ren.guishenList["戌"]}}</span>{{d.da6ren.tianganList["戌"]}}</div>
    </div>
    <div class="qimen-pan-ma" style="text-align: right;">{{d.qimen["艮"].ma?"马":""}}</div>
    <div class="qimen-pan-container-bottom">
        <div style="text-align: center;"><span style="color:rgb(128, 19, 0)">{{d.da6ren._12nianshaList["丑"]}}</span><span style="color:blue">{{d.da6ren._12gongList["丑"]}}</span><span style="color:green">{{d.qimen.tmdh["丑"].jianChu}}</span></div>
        <div style="text-align: center;"><span style="color:rgb(128, 19, 0)">{{d.da6ren._12nianshaList["子"]}}</span><span style="color:blue">{{d.da6ren._12gongList["子"]}}</span><span style="color:green">{{d.qimen.tmdh["子"].jianChu}}</span></div>
        <div style="text-align: center;"><span style="color:rgb(128, 19, 0)">{{d.da6ren._12nianshaList["亥"]}}</span><span style="color:blue">{{d.da6ren._12gongList["亥"]}}</span><span style="color:green">{{d.qimen.tmdh["亥"].jianChu}}</span></div>
        <div class="qimen-9gong-tmdh" style="visibility: visible !important;line-height: 17px;">{{d.da6ren.yueJiangList["丑"]}}<br/><span style="color:#ff7700">{{d.da6ren.guishenList["丑"]}}</span><br/>{{d.da6ren.tianganList["丑"]}}</div>
        <div class="qimen-9gong-tmdh" style="visibility: visible !important;line-height: 17px;">{{d.da6ren.yueJiangList["子"]}}<br/><span style="color:#ff7700">{{d.da6ren.guishenList["子"]}}</span><br/>{{d.da6ren.tianganList["子"]}}</div>
        <div class="qimen-9gong-tmdh" style="visibility: visible !important;line-height: 17px;">{{d.da6ren.yueJiangList["亥"]}}<br/><span style="color:#ff7700">{{d.da6ren.guishenList["亥"]}}</span><br/>{{d.da6ren.tianganList["亥"]}}</div>
    </div>
    <div class="qimen-pan-ma" style="text-align: left;">{{d.qimen["乾"].ma?"马":""}}</div>
</div>
<div id="6ren_3c4k" style="display: grid;grid-template-columns: auto 30px auto;display: none;">
    <div class="da6ren-4ke-grid" style="justify-self: end;border:1px solid rgb(170, 170, 170);cursor: pointer;box-sizing: content-box;padding: 5px;">
        <div>{{d.da6ren["_4keList"][3][2]}}</div>
        <div>{{d.da6ren["_4keList"][2][2]}}</div>
        <div>{{d.da6ren["_4keList"][1][2]}}</div>
        <div>{{d.da6ren["_4keList"][0][2]}}</div>
        <div style="font-weight: bold;">{{d.da6ren["_4keList"][3][1]}}</div>
        <div style="font-weight: bold;">{{d.da6ren["_4keList"][2][1]}}</div>
        <div style="font-weight: bold;">{{d.da6ren["_4keList"][1][1]}}</div>
        <div style="font-weight: bold;">{{d.da6ren["_4keList"][0][1]}}</div>
        <div style="font-weight: bold;">{{d.da6ren["_4keList"][3][0]}}</div>
        <div style="font-weight: bold;">{{d.da6ren["_4keList"][2][0]}}</div>
        <div style="font-weight: bold;">{{d.da6ren["_4keList"][1][0]}}</div>
        <div style="font-weight: bold;">{{d.da6ren["_4keList"][0][0]}}</div>
    </div>
    <div></div>
    <div class="da6ren-3chuan-grid" style="border:1px solid rgb(170, 170, 170);cursor: pointer;box-sizing: content-box;padding: 5px;">
        <div>{{d.da6ren["_3chuanList"][0][3]}}</div>
        <div>{{d.da6ren["_3chuanList"][0][1]}}</div>
        <div style="font-weight: bold;">{{d.da6ren["_3chuanList"][0][0]}}</div>
        <div style="color:gray">{{d.da6ren["_3chuanList"][0][2]}}</div>
        <div>{{d.da6ren["_3chuanList"][1][3]}}</div>
        <div>{{d.da6ren["_3chuanList"][1][1]}}</div>
        <div style="font-weight: bold;">{{d.da6ren["_3chuanList"][1][0]}}</div>
        <div style="color:gray">{{d.da6ren["_3chuanList"][1][2]}}</div>
        <div>{{d.da6ren["_3chuanList"][2][3]}}</div>
        <div>{{d.da6ren["_3chuanList"][2][1]}}</div>
        <div style="font-weight: bold;">{{d.da6ren["_3chuanList"][2][0]}}</div>
        <div style="color:gray">{{d.da6ren["_3chuanList"][2][2]}}</div>
    </div>
</div>
<div id="6ren_sym3c" style="display: grid;grid-template-columns: auto 120px auto;">    
    <div></div>
    <div class="da6ren-sym3chuan-grid" style="border:1px solid rgb(170, 170, 170);cursor: pointer;box-sizing: content-box;padding: 5px;">
        <div>{{d.da6ren["sym3chuanList"]["gan3chuan"][3]}}</div>
        <div>{{d.da6ren["sym3chuanList"]["zhi3chuan"][3]}}</div>
        <div></div>

        <div>{{d.da6ren["sym3chuanList"]["gan3chuan"][2]}}</div>
        <div>{{d.da6ren["sym3chuanList"]["zhi3chuan"][2]}}</div>
        <div>{{d.da6ren["sym3chuanList"]["sym3chuan"][0]}}</div>

        <div>{{d.da6ren["sym3chuanList"]["gan3chuan"][1]}}</div>
        <div>{{d.da6ren["sym3chuanList"]["zhi3chuan"][1]}}</div>
        <div>{{d.da6ren["sym3chuanList"]["sym3chuan"][1]}}</div>

        <div>{{d.da6ren["sym3chuanList"]["gan3chuan"][0]}}</div>
        <div>{{d.da6ren["sym3chuanList"]["zhi3chuan"][0]}}</div>
        <div>{{d.da6ren["sym3chuanList"]["sym3chuan"][2]}}</div>
    </div>
    <div></div>
</div>