
    <div style="margin:auto">
        <div class="qimendunjia-9gong-grid">
            <!-- -->
            <div class="qimendunjia-9gong-grid-cell qimendunjia-9gong-grid-cell-outer" style="border-top-left-radius: 5px" gong="巽">
                <div>{{d["巽"].kongwang?"〇":""}}</div>
                <div>{{d["巽"].shen}}</div>
                <div class="qimen-pan-ma" style="text-align: right;">{{d["巽"].ma?"马":""}}
                </div>
                <div class="qimendunjia-12zhangsheng small_font10px">
                    {{d["巽"].tianpanJi12}} {{d["巽"].tianpan12||""}}
                </div>
                <div style="color: #a2a2a2;">{{d["巽"].yingan}}</div>
                <div>{{d["巽"].xing}}</div>
                <div style="text-align: right;">
                    <span class='{{d["巽"].tianpanJi_jixing||""}}{{d["巽"].tianpanJi_rumu||""}}'>{{d["巽"].tianpanJi||""}}</span>
                    <span class='{{d["巽"].tianpan_jixing||""}}{{d["巽"].tianpan_rumu||""}}'>{{d["巽"].tianpan}}</span>
                </div>
                <div class="qimendunjia-12zhangsheng small_font10px">
                    {{d["巽"].dipanJi12}} {{d["巽"].dipan12||""}}
                </div>
                <div class="qimendunjia-dishen" style="color: #a2a2a2;">{{d["巽"].diShen}}</div>
                <div class='{{d["巽"].men_po||""}}'>{{d["巽"].men}}</div>
                <div style="text-align: right;">
                    {{d["巽"].dipanJi||""}}
                    <span class='{{d["巽"].dipan_jixing||""}}{{d["巽"].dipan_rumu||""}}'>{{d["巽"].dipan}}</span>
                </div>
            </div>
            <div class="qimendunjia-9gong-grid-cell" gong="离">
                <div>{{d["离"].kongwang?"〇":""}}</div>
                <div>{{d["离"].shen}}</div>
                <div></div>
                <div class="qimendunjia-12zhangsheng small_font10px">
                    {{d["离"].tianpanJi12}} {{d["离"].tianpan12||""}}
                </div>
                <div style="color: #a2a2a2;">{{d["离"].yingan}}</div>
                <div>{{d["离"].xing}}</div>
                <div style="text-align: right;">
                    <span class='{{d["离"].tianpanJi_jixing||""}}{{d["离"].tianpanJi_rumu||""}}'>{{d["离"].tianpanJi||""}}</span>
                    <span class='{{d["离"].tianpan_jixing||""}}{{d["离"].tianpan_rumu||""}}'>{{d["离"].tianpan}}</span>
                </div>
                <div class="qimendunjia-12zhangsheng small_font10px">
                    {{d["离"].dipanJi12}} {{d["离"].dipan12||""}}
                </div>
                <div class="qimendunjia-dishen" style="color: #a2a2a2;">{{d["离"].diShen}}</div>
                <div class='{{d["离"].men_po||""}}'>{{d["离"].men}}</div>
                <div style="text-align: right;">
                    <span class='{{d["离"].dipanJi_jixing||""}}{{d["离"].dipanJi_rumu||""}}'>{{d["离"].dipanJi||""}}</span>
                    <span class='{{d["离"].dipan_jixing||""}}{{d["离"].dipan_rumu||""}}'>{{d["离"].dipan}}</span>
                </div>
            </div>
            <div class="qimendunjia-9gong-grid-cell" style="border-top-right-radius: 5px" gong="坤">
                <div>{{d["坤"].kongwang?"〇":""}}</div>
                <div>{{d["坤"].shen}}</div>
                <div class="qimen-pan-ma" style="text-align: right;">{{d["坤"].ma?"马":""}}</div>
                <div class="qimendunjia-12zhangsheng small_font10px">
                    {{d["坤"].tianpanJi12}} {{d["坤"].tianpan12||""}}
                </div>
                <div style="color: #a2a2a2;">{{d["坤"].yingan}}</div>
                <div>{{d["坤"].xing}}</div>
                <div style="text-align: right;">
                    <span class='{{d["坤"].tianpanJi_jixing||""}}{{d["坤"].tianpanJi_rumu||""}}'>{{d["坤"].tianpanJi||""}}</span>
                    <span class='{{d["坤"].tianpan_jixing||""}}{{d["坤"].tianpan_rumu||""}}'>{{d["坤"].tianpan}}</span>
                </div>
                <div class="qimendunjia-12zhangsheng small_font10px">
                    {{d["坤"].dipanJi12}} {{d["坤"].dipan12||""}}
                </div>
                <div class="qimendunjia-dishen" style="color: #a2a2a2;">{{d["坤"].diShen}}</div>
                <div class='{{d["坤"].men_po||""}}'>{{d["坤"].men}}</div>
                <div style="text-align: right;">
                    <span class='{{d["坤"].dipanJi_jixing||""}}{{d["坤"].dipanJi_rumu||""}}'>{{d["坤"].dipanJi||""}}</span>
                    <span class='{{d["坤"].dipan_jixing||""}}{{d["坤"].dipan_rumu||""}}'>{{d["坤"].dipan}}</span></div>
            </div>
            <!-- -->
            <div class="qimendunjia-9gong-grid-cell qimendunjia-9gong-grid-cell-outer" gong="震">
                <div>{{d["震"].kongwang?"〇":""}}</div>
                <div>{{d["震"].shen}}</div>
                <div></div>
                <div class="qimendunjia-12zhangsheng small_font10px">
                    {{d["震"].tianpanJi12}} {{d["震"].tianpan12||""}}
                </div>
                <div style="color: #a2a2a2;">{{d["震"].yingan}}</div>
                <div>{{d["震"].xing}}</div>
                <div style="text-align: right;">
                    <span class='{{d["震"].tianpanJi_jixing||""}}{{d["震"].tianpanJi_rumu||""}}'>{{d["震"].tianpanJi||""}}</span>
                    <span class='{{d["震"].tianpan_jixing||""}}{{d["震"].tianpan_rumu||""}}'>{{d["震"].tianpan}}</span>
                </div>
                <div class="qimendunjia-12zhangsheng small_font10px">
                    {{d["震"].dipanJi12}} {{d["震"].dipan12||""}}
                </div>
                <div class="qimendunjia-dishen" style="color: #a2a2a2;">{{d["震"].diShen}}</div>
                <div class='{{d["震"].men_po||""}}'>{{d["震"].men}}</div>
                <div style="text-align: right;">
                    <span class='{{d["震"].dipanJi_jixing||""}}{{d["震"].dipanJi_rumu||""}}'>{{d["震"].dipanJi||""}}</span>
                    <span class='{{d["震"].dipan_jixing||""}}{{d["震"].dipan_rumu||""}}'>{{d["震"].dipan}}</span>
                </div>
            </div>
            <div class="qimendunjia-9gong-grid-cell" gong="中">
                <div></div>
                <div></div>
                <div></div>
                <div style="grid-column: span 3"></div>
                <div style="color: #a2a2a2;">{{d["中"].yingan}}</div>
                <div></div>
                <div></div>
                <div style="grid-column: span 3"></div>
                <div></div>
                <div></div>
                <div style="text-align: right;">{{d["中"].dipan}}</div>
            </div>
            <div class="qimendunjia-9gong-grid-cell" gong="兑">
                <div>{{d["兑"].kongwang?"〇":""}}</div>
                <div>{{d["兑"].shen}}</div>
                <div></div>
                <div class="qimendunjia-12zhangsheng small_font10px">
                    {{d["兑"].tianpanJi12}} {{d["兑"].tianpan12||""}}
                </div>
                <div style="color: #a2a2a2;">{{d["兑"].yingan}}</div>
                <div>{{d["兑"].xing}}</div>
                <div style="text-align: right;">
                    <span class='{{d["兑"].tianpanJi_jixing||""}}{{d["兑"].tianpanJi_rumu||""}}'>{{d["兑"].tianpanJi||""}}</span>
                    <span class='{{d["兑"].tianpan_jixing||""}}{{d["兑"].tianpan_rumu||""}}'>{{d["兑"].tianpan}}</span>
                </div>
                <div class="qimendunjia-12zhangsheng small_font10px">
                    {{d["兑"].dipanJi12}} {{d["兑"].dipan12||""}}
                </div>
                <div class="qimendunjia-dishen" style="color: #a2a2a2;">{{d["兑"].diShen}}</div>
                <div class='{{d["兑"].men_po||""}}'>{{d["兑"].men}}</div>
                <div style="text-align: right;">
                    <span class='{{d["兑"].dipanJi_jixing||""}}{{d["兑"].dipanJi_rumu||""}}'>{{d["兑"].dipanJi||""}}</span>
                    <span class='{{d["兑"].dipan_jixing||""}}{{d["兑"].dipan_rumu||""}}'>{{d["兑"].dipan||""}}</span>
                </div>
            </div>
            <!-- -->
            <div class="qimendunjia-9gong-grid-cell qimendunjia-9gong-grid-cell-outer" style="border-bottom-left-radius: 5px" gong="艮">
                <div>{{d["艮"].kongwang?"〇":""}}</div>
                <div>{{d["艮"].shen}}</div>
                <div class="qimen-pan-ma" style="text-align: right;">{{d["艮"].ma?"马":""}}</div>
                <div class="qimendunjia-12zhangsheng small_font10px">
                    {{d["艮"].tianpanJi12}} {{d["艮"].tianpan12||""}}
                </div>
                <div style="color: #a2a2a2;">{{d["艮"].yingan}}</div>
                <div>{{d["艮"].xing}}</div>
                <div style="text-align: right;">
                    <span class='{{d["艮"].tianpanJi_jixing||""}}{{d["艮"].tianpanJi_rumu||""}}'>{{d["艮"].tianpanJi||""}}</span>
                    <span class='{{d["艮"].tianpan_jixing||""}}{{d["艮"].tianpan_rumu||""}}'>{{d["艮"].tianpan}}</span>
                </div>
                <div class="qimendunjia-12zhangsheng small_font10px">
                    {{d["艮"].dipanJi12}} {{d["艮"].dipan12||""}}
                </div>
                <div class="qimendunjia-dishen" style="color: #a2a2a2;">{{d["艮"].diShen}}</div>
                <div class='{{d["艮"].men_po||""}}'>{{d["艮"].men}}</div>
                <div style="text-align: right;">
                    <span class='{{d["艮"].dipanJi_jixing||""}}{{d["艮"].dipanJi_rumu||""}}'>{{d["艮"].dipanJi||""}}</span>
                    <span class='{{d["艮"].dipan_jixing||""}}{{d["艮"].dipan_rumu||""}}'>{{d["艮"].dipan||""}}</span>
                </div>
            </div>
            <div class="qimendunjia-9gong-grid-cell qimendunjia-9gong-grid-cell-outer" gong="坎">
                <div>{{d["坎"].kongwang?"〇":""}}</div>
                <div>{{d["坎"].shen}}</div>
                <div></div>
                <div class="qimendunjia-12zhangsheng small_font10px">
                    {{d["坎"].tianpanJi12}} {{d["坎"].tianpan12||""}}
                </div>
                <div style="color: #a2a2a2;">{{d["坎"].yingan}}</div>
                <div>{{d["坎"].xing}}</div>
                <div style="text-align: right;">
                    <span class='{{d["坎"].tianpanJi_jixing||""}}{{d["坎"].tianpanJi_rumu||""}}'>{{d["坎"].tianpanJi||""}}</span>
                    <span class='{{d["坎"].tianpan_jixing||""}}{{d["坎"].tianpan_rumu||""}}'>{{d["坎"].tianpan}}</span>
                </div>
                <div class="qimendunjia-12zhangsheng small_font10px">
                    {{d["坎"].dipanJi12}} {{d["坎"].dipan12||""}}
                </div>
                <div class="qimendunjia-dishen" style="color: #a2a2a2;">{{d["坎"].diShen}}</div>
                <div class='{{d["坎"].men_po||""}}'>{{d["坎"].men}}</div>
                <div style="text-align: right;">
                    <span class='{{d["坎"].dipanJi_jixing||""}}{{d["坎"].dipanJi_rumu||""}}'>{{d["坎"].dipanJi||""}}</span>
                    <span class='{{d["坎"].dipan_jixing||""}}{{d["坎"].dipan_rumu||""}}'>{{d["坎"].dipan||""}}</span>
                </div>
            </div>
            <div class="qimendunjia-9gong-grid-cell" style="border-bottom-right-radius: 5px" gong="乾">
                <div>{{d["乾"].kongwang?"〇":""}}</div>
                <div>{{d["乾"].shen}}</div>
                <div class="qimen-pan-ma" style="text-align: right;">{{d["乾"].ma?"马":""}}</div>
                <div class="qimendunjia-12zhangsheng small_font10px">
                    {{d["乾"].tianpanJi12}} {{d["乾"].tianpan12||""}}
                </div>
                <div style="color: #a2a2a2;">{{d["乾"].yingan}}</div>
                <div>{{d["乾"].xing}}</div>
                <div style="text-align: right;">
                    <span class='{{d["乾"].tianpanJi_jixing||""}}{{d["乾"].tianpanJi_rumu||""}}'>{{d["乾"].tianpanJi||""}}</span>
                    <span class='{{d["乾"].tianpan_jixing||""}}{{d["乾"].tianpan_rumu||""}}'>{{d["乾"].tianpan}}</span>
                </div>
                <div class="qimendunjia-12zhangsheng small_font10px">
                    {{d["乾"].dipanJi12}} {{d["乾"].dipan12||""}}
                </div>
                <div class="qimendunjia-dishen" style="color: #a2a2a2;">{{d["乾"].diShen}}</div>
                <div class='{{d["乾"].men_po||""}}'>{{d["乾"].men}}</div>
                <div style="text-align: right;">
                    <span class='{{d["乾"].dipanJi_jixing||""}}{{d["乾"].dipanJi_rumu||""}}'>{{d["乾"].dipanJi||""}}</span>
                    <span class='{{d["乾"].dipan_jixing||""}}{{d["乾"].dipan_rumu||""}}'>{{d["乾"].dipan||""}}</span>
                </div>
            </div>
        </div>
    </div>
    