
    <div style="margin:auto">
        <div class="x6ren-6gong-grid">
            <!-- -->
            <div class="x6ren-6gong-grid-cell" style="border-top-left-radius: 5px" gong="留连">
                <div>{{d["留连"].shen}}</div><div style="text-align: right;" class="{{wuxingStyle(d['留连'].xing[1])}}"">{{d["留连"].xing}}</div>
                <div class='{{wuxingStyle(dizhiWuxing(d["留连"].zhi))}}'>{{d["留连"].zhi}}({{dizhiWuxing(d["留连"].zhi)}})</div><div style="text-align: right;">{{d["留连"].liuqin}}</div>
                <div><span class="x6ren-6gong-grid-cell-name">留连</span></div><div class="x6ren-6gong-grid-cell-marks">{{d["留连"].marks}}</div>
                <div class="{{wuxingBgStyle(d['留连'].wuxing)}} x6ren-6gong-grid-cell-wuxing"></div>
            </div>
            <div class="x6ren-6gong-grid-cell" gong="速喜">
                <div>{{d["速喜"].shen}}</div><div style="text-align: right;" class="{{wuxingStyle(d['速喜'].xing[1])}}">{{d["速喜"].xing}}</div>
                <div class='{{wuxingStyle(dizhiWuxing(d["速喜"].zhi))}}'>{{d["速喜"].zhi}}({{dizhiWuxing(d["速喜"].zhi)}})</div><div style="text-align: right;">{{d["速喜"].liuqin}}</div>
                <div><span class="x6ren-6gong-grid-cell-name">速喜</span></div><div class="x6ren-6gong-grid-cell-marks">{{d["速喜"].marks}}</div>   
                <div class="{{wuxingBgStyle(d['速喜'].wuxing)}} x6ren-6gong-grid-cell-wuxing"></div>
            </div>
            <div class="x6ren-6gong-grid-cell" style="border-top-right-radius: 5px" gong="赤口">
                <div>{{d["赤口"].shen}}</div><div style="text-align: right;" class="{{wuxingStyle(d['赤口'].xing[1])}}">{{d["赤口"].xing}}</div>
                <div class='{{wuxingStyle(dizhiWuxing(d["赤口"].zhi))}}'>{{d["赤口"].zhi}}({{dizhiWuxing(d["赤口"].zhi)}})</div><div style="text-align: right;">{{d["赤口"].liuqin}}</div>  
                <div><span class="x6ren-6gong-grid-cell-name">赤口</span></div><div class="x6ren-6gong-grid-cell-marks">{{d["赤口"].marks}}</div>   
                <div class="{{wuxingBgStyle(d['赤口'].wuxing)}} x6ren-6gong-grid-cell-wuxing"></div>
            </div>
            <!-- -->
            <div class="x6ren-6gong-grid-cell" style="border-bottom-left-radius: 5px" gong="大安">
                <div>{{d["大安"].shen}}</div><div style="text-align: right;" class="{{wuxingStyle(d['大安'].xing[1])}}">{{d["大安"].xing}}</div>
                <div class='{{wuxingStyle(dizhiWuxing(d["大安"].zhi))}}'>{{d["大安"].zhi}}({{dizhiWuxing(d["大安"].zhi)}})</div><div style="text-align: right;">{{d["大安"].liuqin}}</div>
                <div><span class="x6ren-6gong-grid-cell-name">大安</span></div><div class="x6ren-6gong-grid-cell-marks">{{d["大安"].marks}}</div>   
                <div class="{{wuxingBgStyle(d['大安'].wuxing)}} x6ren-6gong-grid-cell-wuxing"></div>
            </div>
            <div class="x6ren-6gong-grid-cell" gong="空亡">
                <div>{{d["空亡"].shen}}</div><div style="text-align: right;" class="{{wuxingStyle(d['空亡'].xing[1])}}">{{d["空亡"].xing}}</div>
                <div class='{{wuxingStyle(dizhiWuxing(d["空亡"].zhi))}}'>{{d["空亡"].zhi}}({{dizhiWuxing(d["空亡"].zhi)}})</div><div style="text-align: right;">{{d["空亡"].liuqin}}</div>
                <div><span class="x6ren-6gong-grid-cell-name">空亡</span></div><div class="x6ren-6gong-grid-cell-marks">{{d["空亡"].marks}}</div>   
                <div class="{{wuxingBgStyle(d['空亡'].wuxing)}} x6ren-6gong-grid-cell-wuxing"></div>
            </div>
            <div class="x6ren-6gong-grid-cell" style="border-bottom-right-radius: 5px" gong="小吉">
                <div>{{d["小吉"].shen}}</div><div style="text-align: right;" class="{{wuxingStyle(d['小吉'].xing[1])}}">{{d["小吉"].xing}}</div>
                <div class='{{wuxingStyle(dizhiWuxing(d["小吉"].zhi))}}'>{{d["小吉"].zhi}}({{dizhiWuxing(d["小吉"].zhi)}})</div><div style="text-align: right;">{{d["小吉"].liuqin}}</div>
                <div><span class="x6ren-6gong-grid-cell-name">小吉</span></div><div class="x6ren-6gong-grid-cell-marks">{{d["小吉"].marks}}</div>   
                <div class="{{wuxingBgStyle(d['小吉'].wuxing)}} x6ren-6gong-grid-cell-wuxing"></div>
            </div>
        </div>
    </div>
    