<div pid="feixing-pan" class="feixing-pan-container">

    <div style="margin:auto">
        <div class="feixing-9gong-grid">
            <!-- -->
            <div class="feixing-9gong-grid-cell" style="border-top-left-radius: 5px" gong="巽">
                <div class="feixing-9gong-grid-cell-yy">{{d["巽"].year["code"]}}</div>
                <div class="feixing-9gong-grid-cell-mm">{{d["巽"].month["code"]}}</div>
                <div class="feixing-9gong-grid-cell-dd">{{d["巽"].day["code"]}}</div>
                <div class="feixing-9gong-grid-cell-hh">{{d["巽"].hour["code"]}}</div>
            </div>
            <div class="feixing-9gong-grid-cell" gong="离">
                <div class="feixing-9gong-grid-cell-yy">{{d["离"].year["code"]}}</div>
                <div class="feixing-9gong-grid-cell-mm">{{d["离"].month["code"]}}</div>
                <div class="feixing-9gong-grid-cell-dd">{{d["离"].day["code"]}}</div>
                <div class="feixing-9gong-grid-cell-hh">{{d["离"].hour["code"]}}</div>
            </div>
            <div class="feixing-9gong-grid-cell" style="border-top-right-radius: 5px" gong="坤">
                <div class="feixing-9gong-grid-cell-yy">{{d["坤"].year["code"]}}</div>
                <div class="feixing-9gong-grid-cell-mm">{{d["坤"].month["code"]}}</div>
                <div class="feixing-9gong-grid-cell-dd">{{d["坤"].day["code"]}}</div>
                <div class="feixing-9gong-grid-cell-hh">{{d["坤"].hour["code"]}}</div>
            </div>
            <!-- -->
            <div class="feixing-9gong-grid-cell" gong="震">
                <div class="feixing-9gong-grid-cell-yy">{{d["震"].year["code"]}}</div>
                <div class="feixing-9gong-grid-cell-mm">{{d["震"].month["code"]}}</div>
                <div class="feixing-9gong-grid-cell-dd">{{d["震"].day["code"]}}</div>
                <div class="feixing-9gong-grid-cell-hh">{{d["震"].hour["code"]}}</div>
            </div>
            <div class="feixing-9gong-grid-cell" gong="中">
                <div class="feixing-9gong-grid-cell-yy">{{d["中"].year["code"]}}</div>
                <div class="feixing-9gong-grid-cell-mm">{{d["中"].month["code"]}}</div>
                <div class="feixing-9gong-grid-cell-dd">{{d["中"].day["code"]}}</div>
                <div class="feixing-9gong-grid-cell-hh">{{d["中"].hour["code"]}}</div>
            </div>
            <div class="feixing-9gong-grid-cell" gong="兑">
                <div class="feixing-9gong-grid-cell-yy">{{d["兑"].year["code"]}}</div>
                <div class="feixing-9gong-grid-cell-mm">{{d["兑"].month["code"]}}</div>
                <div class="feixing-9gong-grid-cell-dd">{{d["兑"].day["code"]}}</div>
                <div class="feixing-9gong-grid-cell-hh">{{d["兑"].hour["code"]}}</div>
            </div>
            <!-- -->
            <div class="feixing-9gong-grid-cell" style="border-bottom-left-radius: 5px" gong="艮">
                <div class="feixing-9gong-grid-cell-yy">{{d["艮"].year["code"]}}</div>
                <div class="feixing-9gong-grid-cell-mm">{{d["艮"].month["code"]}}</div>
                <div class="feixing-9gong-grid-cell-dd">{{d["艮"].day["code"]}}</div>
                <div class="feixing-9gong-grid-cell-hh">{{d["艮"].hour["code"]}}</div>
            </div>
            <div class="feixing-9gong-grid-cell" gong="坎">
                <div class="feixing-9gong-grid-cell-yy">{{d["坎"].year["code"]}}</div>
                <div class="feixing-9gong-grid-cell-mm">{{d["坎"].month["code"]}}</div>
                <div class="feixing-9gong-grid-cell-dd">{{d["坎"].day["code"]}}</div>
                <div class="feixing-9gong-grid-cell-hh">{{d["坎"].hour["code"]}}</div>
            </div>
            <div class="feixing-9gong-grid-cell" style="border-bottom-right-radius: 5px" gong="乾">
                <div class="feixing-9gong-grid-cell-yy">{{d["乾"].year["code"]}}</div>
                <div class="feixing-9gong-grid-cell-mm">{{d["乾"].month["code"]}}</div>
                <div class="feixing-9gong-grid-cell-dd">{{d["乾"].day["code"]}}</div>
                <div class="feixing-9gong-grid-cell-hh">{{d["乾"].hour["code"]}}</div>
            </div>
        </div>
    </div>
</div>