<div pid="feixing-pan" class="feixing-pan-container">
    <div style="margin:auto">
        <div class="feixing-9gong-grid">
            <!-- -->
            <div class="feixing-9gong-grid-cell-sm" style="border-top-left-radius: 5px" gong="巽">
                <div class="feixing-9gong-grid-cell-fx">{{d["巽"][d.ftype]["name"]}}</div>
            </div>
            <div class="feixing-9gong-grid-cell-sm" gong="离">
                <div class="feixing-9gong-grid-cell-fx">{{d["离"][d.ftype]["name"]}}</div>
            </div>
            <div class="feixing-9gong-grid-cell-sm" style="border-top-right-radius: 5px" gong="坤">
                <div class="feixing-9gong-grid-cell-fx">{{d["坤"][d.ftype]["name"]}}</div>
            </div>
            <!-- -->
            <div class="feixing-9gong-grid-cell-sm" gong="震">
                <div class="feixing-9gong-grid-cell-fx">{{d["震"][d.ftype]["name"]}}</div>
            </div>
            <div class="feixing-9gong-grid-cell-sm" gong="中">
                <div class="feixing-9gong-grid-cell-fx">{{d["中"][d.ftype]["name"]}}</div>
            </div>
            <div class="feixing-9gong-grid-cell-sm" gong="兑">
                <div class="feixing-9gong-grid-cell-fx">{{d["兑"][d.ftype]["name"]}}</div>
            </div>
            <!-- -->
            <div class="feixing-9gong-grid-cell-sm" style="border-bottom-left-radius: 5px" gong="艮">
                <div class="feixing-9gong-grid-cell-fx">{{d["艮"][d.ftype]["name"]}}</div>
            </div>
            <div class="feixing-9gong-grid-cell-sm" gong="坎">
                <div class="feixing-9gong-grid-cell-fx">{{d["坎"][d.ftype]["name"]}}</div>
            </div>
            <div class="feixing-9gong-grid-cell-sm" style="border-bottom-right-radius: 5px" gong="乾">
                <div class="feixing-9gong-grid-cell-fx">{{d["乾"][d.ftype]["name"]}}</div>
            </div>
        </div>
    </div>
</div>